@use "../base" as *;
@use "../abstract/mixin" as *;

.carousal {
  width: 100%;
  position: absolute;
  top: 168px;
  background-color: #f0f0f0;
  z-index: -2;
  &-container {
    max-width: 1680px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
  }
}
