@use "../base" as *;
@use "../abstract/mixin" as *;
/*header css start*/
header {
  background-color: $sky-blue;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  nav {
    @include flexbox;
    height: 56px;
    margin: 0 auto;
    max-width: 1248px;
    .left-nav {
      display: flex;
      .logo {
        width: 100px;
        height: 30px;
        margin-right: 20px;
        cursor: pointer;
        .flipkart-logo-container {
          display: flex;
          flex-direction: column;
          .flipkart-logo-txt {
            color: white;
            font-size: 11px;
            font-style: italic;
            span {
              color: $prim-yellow;
            }
          }
        }
      }
      .search-box {
        background-color: $white;
        width: 564px;
        height: 36px;
        border-radius: 2px;
        color: #f0f0f0;
        @include flexbox;
        padding: 0 20px;
        input {
          border: none;
          width: 100%;
          font-size: 14px;
        }
        svg {
          cursor: pointer;
        }
      }
    }
    .right-nav {
      @include flexbox;
      width: 20%;
      .hover-btn2,
      .hover-btn1 {
        &:hover .svg-rotate {
          transform: rotate(90deg);
        }
      }
      .list-items {
        position: relative;
        z-index: 5;

        .list-item-hover {
          display: none;
          position: absolute;
          top: 25px;
          transform: translateX(-40%);
          background-color: $white;
          width: 216px;
          max-height: 550px;
          box-shadow: 0 4px 16px 0 rgb(0 0 0 / 20%);
          z-index: 5;

          .svg-arrow {
            fill: $white;
            width: 24px;
            height: 16px;
            position: absolute;
            top: -11px;
            left: 40%;
          }
          ul li {
            height: 18px;
            border-bottom: 1px solid #f0f0f0;
            padding: 16px;
            cursor: pointer;
            font-size: 14px;
            .dropdown {
              display: flex;
              align-items: center;
              .dropdown-new {
                font-weight: 600;
                .signup {
                  margin-left: 30px;
                  color: $sky-blue;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              i {
                margin-right: 10px;
              }
            }
            &:hover {
              background-color: $gray;
            }
          }
          &:hover {
            display: block;
          }
        }
      }
      .list-item-text {
        color: $white;
        font-weight: 600;
        cursor: pointer;
        svg {
          transform: rotate(-90deg);
          margin-left: 5px;
        }
        &:hover ~ .list-item-hover {
          display: block;
        }
        &:hover .svg-rotate {
          transform: rotate(90deg);
        }
      }
      .cart {
        color: $white;
        font-weight: 600;
        cursor: pointer;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
/*header css ends*/
